{% extends "base.html" %}

{% block content %}
<h1>Hobbies</h1>
<ul class="list-unstyled">
    <!-- Natation -->
    <li class="mb-4" style="font-size: 1.5rem;">
        <i class="fa-solid fa-person-swimming me-2" style="font-size: 1.5rem;"></i>
        <spam class="text-muted">Natation</spam>
    </li>
    <!-- Basket -->
    <li class="mb-4" style="font-size: 1.5rem;">
        <i class="fa-solid fa-basketball me-2" style="font-size: 1.5rem;"></i>
        <spam class="text-muted">Basket</spam>
    </li>
    <!-- Handball -->
    <li class="mb-4" style="font-size: 1.5rem;">
        <i class="fa-solid fa-volleyball me-2" style="font-size: 1.5rem;"></i>
        <spam class="text-muted">Handball</spam>
    </li>
    <!-- Jogging -->
    <li class="mb-4" style="font-size: 1.5rem;">
        <i class="fa-solid fa-person-running me-2" style="font-size: 1.5rem;"></i>
        <spam class="text-muted">Jogging</spam>
    </li>
    <!-- Voyage et découverte -->
    <li class="mb-4" style="font-size: 1.5rem;">
        <i class="fa-solid fa-plane-departure me-2" style="font-size: 1.5rem;"></i>
        <spam class="text-muted">Voyage et découverte</spam>
    </li>
    <!-- Films -->
    <li class="mb-4" style="font-size: 1.5rem;">
        <i class="fa-solid fa-film me-2" style="font-size: 1.5rem;"></i>
        <spam class="text-muted">Film</spam>
    </li>
</ul>
{% endblock %}
