
{% extends "base.html" %}

{% block content %}

<h1>Compétences</h1>

<div class="mt-4">
    {% for skill in skills %}
    <div class="mb-3">
        <p class="mb-1">
            <strong>{{ skill.name }}</strong>
        </p>
        <div class="progress" style="height: 20px;">
            <div 
                class="progress-bar" 
                role="progressbar" 
                style="width: {{ skill.note ~ '%' }}"
                aria-valuemin="0" 
                aria-valuemax="100">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
